.option {
  border-radius: 15px;
  background: #E0E0E0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.option-label {
  font-size: 14px;
  height: auto;
  margin: 5px 10px;
}

.option-add-button {
  margin: 10px 10px 10px 0;
}

.add-option:hover {
  background: #455A64;
  cursor: pointer;
}

.add-option * {
  cursor: pointer
}

*.add-option {
  color: #FB8C00;
}
