/* GIFT CARDS */

.gift-card-paper {
  box-sizing: border-box;
  width: 150px;
  min-height: 200px;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

.gift-card-div-style {
  flex-direction: column;
  text-align: center;
  padding: 25px 0 0 0;
  height: auto;
}

Button.gift-card-button {
  font-size: 10px;
  color: #FB8C00;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0
}

.gift-card-icon {
  font-size: 14px !important;
}

.gift-card-gift-image {
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

.gift-card-name {
  font-size: 14px;
}

.gift-card-price {
  font-size: 10px;
}

/* POLL */

.poll-remove {
  position: absolute;
  top: 2px;
  right: 2px;
  color: #555555;
  cursor: pointer;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.poll-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
}

.poll-gift-card {
  background: #cdcdcd !important;
}

.poll-option {
  background: white;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 3px;
}

.poll-option * {
  cursor: pointer;
}

.poll-main-icon {
  font-size: 24px;
}

.poll-icon {
  font-size: 20px;
}

.poll-bad {
  color: #EB5757;
}

.poll-good {
  color: #43A047;
}
